.tab {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)) !important;
    grid-gap: 10px !important;
    align-content: center !important;
    margin-top: 10px;
}
