.cart-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.img-container img {
    width: 100px;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantity {
    background: #fff;
    border-radius: 5px;
}

.checkout-btn {
    background: #f91944 !important;
    border: none !important;
    outline: none !important;
}

.disable-checkout {
    background: gray !important;
    color: #000 !important;
    cursor: not-allowed;
}

@media (min-width: 576px) {
    .cart-btn-group {
        display: flex;
        align-items: center;
    }
    .quantity {
        margin: 0 10px;
    }
}
