.logo img {
    height: 40px;
}

.nav-bar {
    background: rgba(0, 0, 0, 0.2);
}

.link {
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 0 15px;
    transition: all 500ms ease-in-out;
}

.link:hover {
    color: #ff69b4;
    text-decoration: none;
}
